{% extends 'index.html' %}

{%load static%}
{% comment %} {% block title %}Forms{% endblock %} {% endcomment %}
<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="{% static 'stylesheet/cablematrix/portform.css'%}"/>
    </head>
    <body>
{% block container-fluid %}
    {{ block.super }}
    <!-- Additional sidebar content for child template -->
    {% comment %} <p class="heading">This is additional sidebar content for the child template.</p> {% endcomment %}
    
    <div class="container form-container mt-3">
        <h2 class="form-heading" style='color:black; text-align:center;'>Search Form</h2>
        {% comment %} <form class="data-entry-form" method="POST" action=''>
            
            <table>
            {{form.as_table}}
            </table>

            <div class="form-group full-width" style="width:120px; text-align:center; margin-top:20px; margin-left:400px;"> {% endcomment %}
                {% comment %} <button type="submit">Submit</button> {% endcomment %}
                {% comment %} <input type='submit' value='Submit'/>
            </div>

            {% csrf_token %}
        </form> {% endcomment %}
        {% comment %} <form method="POST" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <table>
            {{ form.as_table }}
            </table>
            <input type="hidden" name="action" value="UPDATE">
            <button type="submit">Update</button>
        </form> {% endcomment %}


        <form method="POST" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
    
            <table>
                <tr>
                    <th><label for="id_existingdevicename">Existing Device Name:</label></th>
                    <td>{{ form.existingdevicename }}</td>
                </tr>
                <!-- Remove or comment out error messages for this field -->
                <!-- <tr>
                    <td colspan="2" class="error">
                        {% for error in form.existingdevicename.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </td>
                </tr> -->
    
                <tr>
                    <th><label for="id_newdevicename">New Device Name:</label></th>
                    <td>{{ form.newdevicename }}</td>
                </tr>
                <!-- Remove or comment out error messages for this field -->
                <!-- <tr>
                    <td colspan="2" class="error">
                        {% for error in form.newdevicename.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </td>
                </tr> -->
    
                <tr>
                    <th><label for="id_ticketid">Ticket ID:</label></th>
                    <td>{{ form.ticketid }}</td>
                </tr>
                <!-- Remove or comment out error messages for this field -->
                <!-- <tr>
                    <td colspan="2" class="error">
                        {% for error in form.ticketid.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </td>
                </tr> -->
    
                <tr>
                    <td colspan="2">
                        <input type="hidden" name="action" value="UPDATE">
                        <button type="submit">Update</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
</body>
</html>

