{% extends 'index.html' %}

{%load static%}
<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="{% static 'stylesheet/cablematrix/portform.css'%}"/>
    </head>
    <body>
{% block container-fluid %}
    {{ block.super }}
    <div class="container form-container mt-3">
        <h2 class="form-heading" style='color:black; text-align:center;'>Port Turn Up Form</h2>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
    
            <table>
                <tr>
                    <th><label for="id_existingdevicehostname">Existing Device Host Name:</label></th>
                    <td>{{ form.existingdevicehostname }}</td>
                    <th><label for="id_newdevicehostname">New Device Host Name:</label></th>
                    <td>{{ form.newdevicehostname }}</td>
                </tr>

                <tr>
                    <th><label for="id_portturnupticketrequired">Port Turn Up Ticket Required:</label></th>
                    <td>{{ form.portturnupticketrequired }}</td>
                    <th><label for="id_portturnupticketrequesteddate">Port Turn Up Ticket Requested Date:</label></th>
                    <td>{{ form.portturnupticketrequesteddate }}</td>
                </tr>

                <tr>
                    <th><label for="id_portturnupticketrequestedid">Port Turn Up Ticket Requested ID:</label></th>
                    <td>{{ form.portturnupticketrequestedid }}</td>
                    <th><label for="id_portturnupmgmtstatus">Port Turn Up Mgmt Status:</label></th>
                    <td>{{ form.portturnupmgmtstatus }}</td>
                </tr>

                <tr>
                    <th><label for="id_portturnupdatafeedstatus">Port Turn Up Data Feed Status:</label></th>
                    <td>{{ form.portturnupdatafeedstatus }}</td>
                    <th><label for="id_portturnupticketcloseddate">Port Turn Up Ticket Closed Date:</label></th>
                    <td>{{ form.portturnupticketcloseddate }}</td>
                </tr>
                
                
                
                <tr>
                    <td colspan="2">
                        <input type="hidden" name="action" value="UPDATE">
                        <button type="submit" >UPDATE</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
</body>
</html>

