{% extends 'index.html' %}

{%load static%}
<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="{% static 'stylesheet/cablematrix/portform.css'%}"/>
    </head>
    <body>
{% block container-fluid %}
    {{ block.super }}
    <div class="container form-container mt-3">
        <h2 class="form-heading" style='color:black; text-align:center;'>Cable Matrix Form</h2>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
    
            <table>
                <tr>
                    <th><label for="id_existingdevicehostname">Existing Device Host Name:</label></th>
                    <td>{{ form.existingdevicehostname }}</td>
                    <th><label for="id_newdevicehostname">New Device Host Name:</label></th>
                    <td>{{ form.newdevicehostname }}</td>
                </tr>

                <tr>
                    <th><label for="id_cablematrixstarteddate">Cable Matrix Start Date:</label></th>
                    <td>{{ form.cablematrixstarteddate }}</td>
                    <th><label for="id_cablematrixcompleteddate">Cable Matrix Closed Date:</label></th>
                    <td>{{ form.cablematrixcompleteddate }}</td>
                </tr>

                <tr>
                    <th><label for="id_cablematrixstatus">Cable Matrix Status:</label></th>
                    <td>{{ form.cablematrixstatus }}</td>
                </tr>

    
                <tr >
                    <td colspan="2">
                        <input type="hidden" name="action" value="UPDATE">
                        <button type="submit" >UPDATE</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
</body>
</html>

